body {
  margin: 0;
  font-family: Hind;
  background-color: #f4f4f4;
}

/* COLUMNS & ROWS */

.row2 {
  display: flex;
  background-color: #883e24;
}

.row-container3 {
  width: 100%;
  margin: auto;
}

.merch-container {
  width: 100%;
}

.header-4 {
  font-size: 45px;
  color: #491000;
}

/*  MAP  */

.address-text {
  color: #dfd9ab;
  font-size: 20px;
  margin: auto;
  list-style: none;
}

/* Footer CSS */

/* STYLES SPECIFIC TO FOOTER  */
.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #491000;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: Hind-Light;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: #883e24;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #dfd9ab;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
  .footer .col {
    width: 50%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}

input[type="text"] {
  font-family: Hind-light;
  font-size: 15px;
  color: #7e0000;
  border-radius: 4px;
}

/*images*/

.coffee {
  padding: 0 0 60 0;
  max-width: 100%;
}

/* BUTTON */

.white-button1 {
  background-color: #dfd9ab;
  font-family: Bitter-Regular;
  border: none;
  color: #7e0000;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
  font-size: 18px;
}

.orange-button {
  background-color: #883e24;
  font-family: Bitter-Regular;
  border: none;
  color: #dfd9ab;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
  font-size: 18px;
}

/* Contact Form */

/* CONTACT FORM */

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: Hind-Light;
}

input[type="submit"] {
  background-color: #dfd9ab;
  color: #7e0000;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Hind-Light;
}

input[type="submit"]:hover {
  background-color: #7e0000;
}

.contact-from {
  margin-left: 10px;
}

.form-container {
  background-color: #dfd9ab;
}

input[type="text"] {
  font-family: Hind-light;
  font-size: 15px;
  color: #7e0000;
}

.contact-text {
  color: #dfd9ab;
  font-size: 15px;
}
